<section class="content-header">
<h1>
Media
<small><i class="fa fa-file-text-o"></i> Playlists</small>

<div class="box-tools pull-right">
    <div title="" data-toggle="tooltip" class="box-tools pull-right" data-original-title="Status">
        <div data-toggle="btn-toggle" class="btn-group">
            <button class="btn btn-success btn-sm" {{action 'createPlaylist'}} type="button"><i class="fa fa-plus"></i></button>
        </div>
    </div>
</div>
</h1>
</section>


<section class="content">

</section>
